h1{
    color: brown;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: underline;
    text-shadow: 0px 5px 2px rgb(222, 219, 36);

}

p{
    color: rgb(16, 16, 168);
    text-size-adjust: 21px;
    text-align:justify;
    font-size:20px;
    word-spacing: 8px;
    line-height: 5cm;

}

body{
    background-color: rgb(255, 241, 223);
}
