*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 100px;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>ul{
    display: flex;
    gap: 30px;
}

nav>ul>li{
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.2px;
}

header{
    height: 200px;
    background-color: black;
    color: white;
}

main{
    height: 400px;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main>.card{
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 4px black;
}

footer{
    height: 150px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media (max-width:400px) {
    nav{
        height: 100vh;
    }
    header{
        display: none;
    }
} */

@media (max-width:500px) {
    nav{
        height: 100vh;
    }
    nav>h1{
        display: none;
    }
    nav>ul{
        flex-direction: column;
    }
}

@media (max-width:800px) {
    
    header{
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main{
        flex-direction: column;
        height: 600px;
    }

    main>.card{
        width: 80%;
        height: 250px;
    }
}

@media (min-width:1000px) {
    
    header{
        background-color: yellow;
        color:red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:500px) and (max-width:800px) {
    footer{
        color: rgb(255, 255, 255);
        background-color: aqua;
    }
}