*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height:100vh;
    background-color: rgb(0, 98, 255);
    display: flex;
    justify-content: center;
    align-items: center;
   


}

.outer:hover{
    background-color: rgb(106, 255, 0);
}

.outer > .inner{
    width: 300px;
    height: 400px;
    background-color: aliceblue;
    padding: 15px;
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
    border-radius: 30px;
    text-align: justify;
    
}

.inner h2{
    text-align: center;
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 3px;
}

::-webkit-scrollbar{
    display: none;
}

.inner h3{
    text-align: center;
    /* visibility: hidden; */
}