

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background: linear-gradient(black,white);
    display: flex;
    justify-content: center;
    align-items: center;
}


.outer > .card1{
    height: 300px;
    width: 400px;
    background: linear-gradient(red,yellow);
  
    animation: movingBox 2s ease-in infinite alternate;
}


@keyframes movingBox {
    
    from{
    }
    to{
        transform: translateX(-400px);
        background: linear-gradient(blue,black);
        border-radius: 50%;
    }
}


.outer2{
    height: 100vh;
    background: linear-gradient(to right, pink,red);
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}

.outer2> .card2{
    height: 300px;
    width: 400px;
    /* border: 3px solid black; */
    background-color: white;

    animation: rotateBox 3s linear infinite;

}
.outer2> .card3{
    height: 300px;
    width: 400px;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes rotateBox {
    
    from{

    }
    to{
        transform: rotate(360deg);
        
    }
}



.card3 > .circle{
    height: 100px;
    width: 100px;
    border-bottom : 3px solid green;

    border-radius: 50%;

    animation: rotateBox 3s linear infinite;
}