*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(211, 234, 255);
}

.card{
    display: flex;
    padding: 50px;
    gap: 30px;
    border: 5px;

}

h1{
    text-align: center;
    padding-bottom:50px;

}

.div1{
    width: 300px;
    height: 200px;
    background-color: rgb(236, 247, 255);
    padding: 10px;
    border-radius: 20px;
    text-align: justify;
    box-shadow: 2px 3px 4px black;
    
}

.div1 h2{
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    
}
.div1 h3{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div1 button{
    height: 40px;
    width: 275px;
    background-color: rgb(110, 141, 243);
    border-radius: 10px;
    
}