*{
    box-sizing: border-box;
}

body {
    background: rgb(6, 130, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial;
}

.card {
    width: 420px;
    background: rgb(251, 255, 12);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    color: black;
    border: 4px solid black;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 15px;
    border: 4px solid black;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: rgb(238, 51, 38);
    border: none;
    color: darkgreen;
    font-weight: bold;
    border-radius: 10px;
    border: 4px solid darkgreen;
}

button:hover {
    background: lightcyan;
}   