body{
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: rgb(154, 231, 255);
    

}


.card{
    background-color: rgb(255, 255, 255);
    height: 530px;
    width: 400px;
    margin-left: 500px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2px 5px 20px black;
    
    
}

.card:hover{
    background-color: rgb(255, 176, 74);
}


button{
     display: flex;
     width: 300px;
     margin-left: 52px;
     margin-top: 5px;
     border-radius: 10px;
     border: 2px solid black;
     background-color:black;
     color: aliceblue;
     text-transform: uppercase;
     padding: 7px;
     font-size: 13px;
     font-weight: 700;
     letter-spacing: 1.1px;
     width: 325px;
       
}

h1{
    margin-left: 30px;
    padding-top: 30px
}

p{
   margin-left: 30px;
   padding-top: -30px;
}

h2{
    margin-left: 30px;
    
}

.a,.b,.c{
    margin-left: 30px;
    font-weight: 300;
    height: 35px;
    width: 330px;
    margin-top: -23px;
    background-color: aliceblue;
   
    
    

}

input{
    border-radius: 10px;
}

button{
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    background-color: rgb(27, 139, 236);
    margin-left: 33px;
}

a{
    color: blue;
    
}