body{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    background-color: rgb(136, 0, 255);
    

}

body:hover{
    background-color: lawngreen;
}
.card{
    background-color: red;
    height: 560px;
    width: 400px;
    margin-left: 500px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2px 5px 20px black;
}

.card:hover{
    background-color: rgb(242, 255, 0);
}


button{
     display: flex;
     text-align: center;
     width: 300px;
     text-align: center;
     justify-content: center;
     margin-left: 52px;
     margin-top: 5px;
     border-radius: 10px;
     border: 2px solid black;
     background-color:black;
     color: aliceblue;
     text-transform: uppercase;
     padding: 7px;
     font-size: 13px;
     /* font-size: large; */
     font-weight: 700;
     letter-spacing: 1.1px;
     

  
}
img{
    border-radius: 200px;
    border: 3px solid black;
    margin-top: 15px;
    width: 160px;
    height: 200px;


    
}
p{
    font-style: italic;
    color: aliceblue;
}
h1,h3{
    color: white;
    margin-top: 5px;
}

h3,p{
    margin-top: -15px;
    text-shadow: 1px 2px 3px black;
}

h1{
    text-transform: uppercase;
    text-shadow: 2px 3px 4px black;
}

button:hover{
    background-color: aqua;
}