#title{
    color: rgb(81, 0, 255);
}
th{
    color: rgb(4, 176, 50);
}
.one{
    color: rgb(255, 92, 92);
}
.two{
    color: rgb(59, 6, 6);
}
#aus{
    color: yellow;
}
#sou{
    color: green;
}
#eng{
    color: red;
}
#ind{
    color: blue;
}
#new{
    color: black;
}
#sri{
    color:yellowgreen;
}
#ban{
    color: aquamarine;
}
#pak{
    color: darkslategray;
}
.pot{
    color: rgb(0, 0, 0);
}
.pos{
    color: rgb(255, 148, 17);
}