
h1{
    border: 5px solid black;
    background-color: yellow;
    width: 300px;
}
a{
    background-color: greenyellow;
    width: 200px;
}
button{
    border: 2px solid black;
    background-color: blue;
    width: 100px;
    display: inline-block;
    color: white;
}