body{
    
}


.card1{
    background-color: chartreuse;
    height: 200px;
    width: 300px;
}

.card2{
    background-color: aqua;
    height: 200px;
    width: 300px;
}

.card1 h1{
    color: blue;
}

.card2 h1{
    color: brown;
    text-align: center;
}

.card3{
    background-color: aquamarine;
    height: 300px;
    width: 300px;

}

.card3 .box{
    background-color: chocolate;
    height: 200px;
    width: 250px;
    margin: 20px;
}

.card3 > .box > h2{
    color: rgb(249, 255, 65);
    text-align: center;
    text-decoration: underline;
}
/* .card3 .box h2{
    color:antiquewhite
} */

ul > li {
    font-size: 35px;
}

/* ul > #l5 ~ li{
    background-color: antiquewhite; */
}