#a{
    color: rgb(255, 25, 25);
}




header{
    color: rgb(52, 32, 27);
    text-align: center;
    background-color: chartreuse;
    height: 110px;
    width: 1500px;


}

section{

    color: blue;
    background-color: rgb(80, 238, 255);
    text-align: center ;
}

.name{
    
    background-color: burlywood;
    height: 150px;
    width: 200px;
    text-align: center;
}


/* universal selector */
*{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* group seletor */
h3,h4,b,.italic,#name{
    letter-spacing: 10px;
    text-decoration: double;
}



















