*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    background-color: rgb(207, 201, 201);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer > .inner{
    background-color: white;
    height: 80%;
    width: 90%;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
}

nav{
    display: flex;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

nav > ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 1px black;
}

nav > h2>span{
    font-size: 50px;
    font-style: italic;
    color: blue;
}

nav > .right>button,main>.left>.bottom>button{
    padding: 10px;
    font-weight: bold;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
    letter-spacing: 1px;
    font-size: 15px;
}

main{
    display: flex;
    height: 70%;
}

main>.left{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

main > .left >h1{
    font-size: 30px;
    letter-spacing: 1px;
}

main > .left>p{
    text-align: justify;
    letter-spacing: 0.7px;
}

main>.left>.bottom{
    width: 100%;
}

main>.left>.bottom>input{
    padding: 15px 50px;
    border: 1px solid gray;
    border-radius: 7px;
}

main > .right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main>.right>img{    
    height: 100%;
}

footer{
    height: 15%;
    display: flex;
}

footer>.left{
    flex-basis: 50%;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

footer>.right{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    gap: 5px;
}

footer>.right>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

footer>.right>.last>h4{
    color: gray;
}

footer>.right>.last>p{
    font-weight: bold;
}
