* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(#ff7e5f, #feb47b);
}

.outer > .inner {
    width: 1200px;
    height: 600px;
    background-color: #4A90E2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inner > nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inner > nav > ul{
    display: flex;
    gap: 20px

}

.inner > ul > li{
    font-size:18px;
    text-transform: uppercase;
    font-weight: bold;


}

nav > h2 > span{
    font-style: italic;
    font-size: 40px;
}

nav > h2{
    color: red;
}

nav > .right > button{
   font-size: 15px;
   font-weight: bold;
   letter-spacing: 1.3px;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

}

.right > button:hover{
    transform: scale(1.5);
    background-color: yellow;
    cursor: pointer;
}

main{

    height: 70%;
    border: 2px solid black;
    display: flex;
}

main > .aside{
    background-color: brown;
    flex-basis: 50%;

}



