body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar li {
    cursor: pointer;
}

.logo {
    color: #0d6efd;
}

/* Button */
.btn {
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Main Section */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.content {
    width: 50%;
}

.content h1 {
    font-size: 36px;
}

.content p {
    color: gray;
    margin: 20px 0;
}

.image img {
    width: 350px;
}