*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box1{

    background-color: aqua;
    height: 50vh;
}
.box2{
    background-color: aquamarine;
    height: 500px;
    width: 500px;
    margin-top: 100px;
}
.box2 >.box3{
    background-color: pink;
    /* height: 150px;
    width: 300px; */
    height: 50%;
    width: 50%;
}
.circle{
    background-color: aqua;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 4px solid black;
    margin-top: 50px;
}



.box4{
    background-color: blueviolet;
    height: 400px;
    width: 1000px;
    padding-left: 40px;
    margin-left: 20px;
    margin-top: 100px;
    font-size: 50px;
}

.box4 > .box5{
    background-color: rgb(243, 255, 25);
    height: 60%;
    width: 70%;
    font-size: 1em;


}