*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background:linear-gradient(to right, rgb(150, 9, 9),brown,black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer > .inner{
    height: 500px;
    width: 450px;
    background:linear-gradient(yellow,orange,red);
    border-radius: 10px; 
}

.inner > .card{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(0, 47, 255);
    animation: movingBox 6s infinite alternate linear;

  
}

@keyframes movingBox{
    0%{
        background-color: rgb(150, 9, 9);
        transform: translate(0,0) ;
        
    }
    25%{
        background-color: rgb(43, 255, 0);
        transform: translate(350px,0px) scale(1.5);
        
    }
    50%{
        background-color: rgb(255, 153, 20);
        transform: translate(350px,400px);
        
    }
    75%{
        background-color: rgb(21, 13, 255);
        transform: translate(0,380px) scale(1.5);
        
    }
    100%{
        background-color: rgb(0, 217, 255);
        transform: translate(0,0);
        
    }
}