
.box1{
    background-color: aquamarine;
    
}


.box1 h1{
    text-align: center;
}

.box1 > p{
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1.3px;
    background-color: greenyellow;
    height: 70px;
}


.box1 > button{
    background-color: blue;
    color: aliceblue;
    

}

.box1 > button:hover{
    background-color: chocolate;
    
}

.box1 > button:active{
    background-color: bisque;
}

.box1 > ol > li:nth-child(4) {
    color: rgb(255, 78, 14);
}

.box1 > ol > li:nth-child(6){
    color: brown;
}

.box1 > ol > l1:hover{
    background-color: darkmagenta       ;
}



.box2 > p:nth-child(2){
    background-color: red;
}

.box2 > h1:nth-child(4){
    background-color: rgb(55, 15, 255);
}







.box3 > h1{
    text-align: center;
    text-transform: capitalize;
}

.box3 > p{
    text-indent: 100px;

}

.box3 > p::first-letter{
    font-size: 50px;
    font-style: italic;
}

.box3 > p::first-line{
    font-weight: bolder;
}

.box3 > h1::after{
    content:"****";
    color: brown;
}

.box3 > h1::before{
    content: "$$$";
    color: blueviolet;
}

/* .box3 > p::selection{                   #while dragging it will chage colour
    color:red;
} */

.box3 > ul > li::marker{
    color: red;
}

.box3 > ul {
    font-size: 1cm;
}






