*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#iron,#cap,#thor,#hulk{
    height: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;

} 

#iron{
background-image: url("https://wallpapers.com/images/hd/iron-man-4k-ocean-art-irhan2wtdz4k4rf5.jpg");
}

#cap{
    background-image: url("https://tse1.mm.bing.net/th/id/OIP.PrG4yX-RJ9n4suIvOsRLCAHaEK?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
}

#thor{
    background-image: url("https://tse1.explicit.bing.net/th/id/OIP.MkiuXuCIIzzNgB4MaASMWwHaEo?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
}

#hulk{
    background-image: url("https://tse2.mm.bing.net/th/id/OIP.WezsTokLy9J3oqWwk-9t8QHaEo?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
}


.out > h1{
    color: white;
    font-size: 130px;
    text-transform: uppercase;   
}

/* #iron > .out{
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 130px;
} */