
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.outer{
    height: 100vh;
}

.card1{
    height: 150px;
    background-color: rgb(107, 218, 255);
}

.card2{
    height: 200px;
    background-color: rgb(23, 64, 210);
    text-align: center;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 30px;
    color: white;

}

.card3{
    height: 250px;
    background-color: rgb(36, 218, 45);
}

.card4{
    height: 300px;
    background-color: rgb(218, 8, 25);
}

.card3 > button{
    position: fixed;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(229, 149, 0);
    border-radius: 50px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 10px;
}

.card4 > button{
    position: sticky;
    top: 200px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(229, 149, 0);
    border-radius: 50px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 10px;
}

.card5{
    height: 350px;
    background-color: rgb(255, 0, 238);
}

.card6{
    height: 400px;
    background-color: rgb(229, 255, 0);
}