body {
    margin: 0;
    font-family: Arial, sans-serif;
    background:linear-gradient(to right, red, greenyellow, yellow);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-top: 220px;
    
}

.card {
    background-color: #ffffff;
    width: 220px;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    box-shadow: 1px 2px 20px black;
}

.card img {
    margin: 1px;
    height: 100px;
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 5px solid rgb(255, 255, 255);
}

.card h3 {
    margin: 5px 0;
}

.card p {
    font-size: 14px;
    color: #666;
}

.card button {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}