*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.outer{
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr fr;
    grid-template-rows:100px  ;
}

nav{
    border: 2px solid black;
    grid-column: span 2;


}

nav > ul{
    
}

