 *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
         }

         .outer{
            height: 100vh;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
         }

         .outer > .inner{
            height: 400px;
            width: 400px;
            /* border: 2px solid black; */
         }

         .b{
            height: 50px;
            width: 50px;
            background-color: black;
         }
         .w{
            height: 50px;
            width: 50px;
            background-color: white;
         }

         .r1{
            display: flex;
         }
         .r2{
            display: flex;
         }