*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav > ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-right: 100px;
}
nav > ul >li{
    text-transform: capitalize;
    list-style: none;
    font-size: 30px;
}
.outer{
    background-color: cornflowerblue;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.outer > h1{
    text-transform: capitalize;
}
.outer >button{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.outer >button:hover{
    background-color: brown;
}
section{
    background-color: red;
    height: calc(100vh - 350px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.inner{
    width: 300px;
    height: 240px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* box-shadow: 7px 8px 9px black; */
    
}
.inner > img{
    width: 100%;
    height: 55%;
}