*{
    padding: 0;
    margin:0;
}

.card1{
    background-color: rgb(251, 255, 33);
    height: 200px;
    width: 300px;
    padding: 10px 20px 30px 10px ;

    border: 8px solid green;
}

.card2{
    background-color: red;
    height: 200px;
    width: 300px;

    padding-top: 50px;
    padding-left: 50px;



    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

    border: 8px solid;
    border-width: 10px;
    border-color: aquamarine;
    border-radius: 50px;
}

.circle{
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    margin: 20px;
    border: 10px solid black;
    border-radius: 50%;
}