/* table{
    border: 2px solid black;
    background-color: rgb(255, 242, 128);
    text-align: center;
    
}
tr,th,td{
   border: 2px solid black;
   
} */

h1{
    color: blue;
}
h2{
    color: rgb(221, 146, 34);
}
h3{
    color: aqua;
}
#ro{
    color: chocolate;
}
.ind{
    color: rgb(194, 129, 255);
}
th{
    color: rgb(212, 71, 95);
}
